:root {
    --main-textcolor: #212121;
    --accent-color: #2196F3;
    --grey-textcolor: #757575;
    --white-textcolor: #FFFFFF;
    --main-backgroundcolor: #FFFFFF;
    --secondary-backgroundcolor: #F5F4FA;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-textcolor);
    background-color: var(--main-backgroundcolor);
}

.wrapper {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 15px;
    padding-right: 15px;
}

a:hover,
a:focus {
    color: var(--accent-color);
}

/* Шапка сайта */
.header-container {
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 15px;
    padding-right: 15px;

    height: 80px;   
}

a.logo {
    margin-right: 85px;
    
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo-header {
    color: var(--main-textcolor);
}

.nav-links, 
.nav-contacts {
    display: flex;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-links a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
   
    color: inherit;   
}

.nav-contacts a {
    color: var(--grey-textcolor);
}

.nav-links a:hover,
.nav-links a:focus,
.nav-contacts a:hover,
.nav-contacts a:focus {
    color: var(--accent-color);
}

.nav-contacts {
    margin-left: auto;
}

.nav-links .item-link:not(:last-child) {
    margin-right: 50px;
}
/* .nav-links .item + .item {
    margin-left: 50px;
}*/

.nav-contacts .item-link:not(:last-child) {
    margin-right: 50px;
}

/*Герой/Jumbotron*/
.jumbotron-wrapper {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), 
    url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:rgba(47, 48, 58, 0.8);
    /*запасной вариант, если картинка не загрузится*/
}

.jumbotron-title {
    margin-top: 0;
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--white-textcolor);
}

.jumbotron-button { 
    display: block;
    width: 200px;
    height: 50px;
    padding: 10px 32px;
    border-radius: 4px;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    background-color: var(--accent-color);
}
/*имитация кнопки, т.к. кнопки сказали не использовать; изменения при hover и focus видно в дубликате макета*/
.jumbotron-button:hover,
.jumbotron-button:focus {
background-color: #188ce8;
}

.jumbotron-button:visited {
    color: var(--white-textcolor);
}

/* Преимущества*/

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.advantages-list .item {
    width: calc((100% - 90px) / 4);
    margin-top: 94px;
    margin-bottom: 94px; 
    margin-right: 30px;
}

.advantages-list .item:nth-child(4n) {
    margin-right: 0;
}

.advantages-list h3 {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages-list p {
    line-height: 1.7;
    color: var(--grey-textcolor);
}

.service-title,
.team-title,
.clients-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.advantages-list .item::before {
    display: block; 
    content: "";
    height: 120px;
    border-radius: 4px;
    background: var(--secondary-backgroundcolor);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.advantages-list .item-details::before {
    background-image: url(../images/antenna.png);
}

.advantages-list .item-punctuality::before {
    background-image: url(../images/clock.png);
}

.advantages-list .item-planning::before {
    background-image: url(../images/diagram.png);
}

.advantages-list .item-moderntech::before {
    background-image: url(../images/astronaut.png);
}

/* Набор услуг */
.service {
    margin-bottom: 94px;
}

.service-items {
    display: flex;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.service-items .item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
}

.service-items .item:nth-child(3n) {
    margin-right: 0;
}

.service-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.item-title {
    /* использовала div, т.к. думаю пригодится в дз4 */
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    /* задаю background чтобы проверить применение цвета к h3 */
}

.service-list h3 {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 27px;

    text-align: center;
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-textcolor);
}

/* Команда */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    height: 702px;

    background-color: var(--secondary-backgroundcolor);
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;  
}

.team-list {
    display: flex;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    text-align: center;
}

.item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.team-list .profile-card:nth-child(4n) {
    margin-right: 0px;
}

.team-list h3 {
    margin-top: 30px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list p {
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.19;
    color: var(--grey-textcolor);
}

.social-items {
    margin-top: 16px;
}

/* позже используем встроенные svg файлы со стилями */
.social-link {
    color:#AFB1B8;
}

.profile-card {
    margin-top: 0;
    width: 270px;
    height: 422px;
    
    border: 1px solid #F5F4FA;;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;

    background-color: #FFFFFF;
}

.personal-net {
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
}



.personal-net .social-link:hover,
.personal-net .social-link:focus {
    background-color: var(--accent-color);
    /*background-image: url(../images/instagram.png);
    background-image: url(../images/twitter.png);
    background-image: url(../images/facebook.png);
    background-image: url(../images/linkedin.png);*/

}
/* Клиенты */
/* позже используем встроенные svg файлы со стилями */
.clients {
    margin-bottom: 94px;
}

.clients-title {
    margin-top: 94px;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list a {
    display: block;
}

.clients-list .item:not(:last-child) {
    margin-right: 30px;
}

.clients-list a:visited {
    color:#AFB1B8;
}

.clients-list a:hover,
.clients-list a:focus {
    color: var(--accent-color);
}

/* Footer */
.footer {
    padding-top: 45px;
    padding-bottom: 21px;
    background-color: #2F303A;
}

.footer-container {
    display: flex;
    margin-left: 214px;
    margin-right: 216px;
    margin-bottom: 46px;
}

.address {
    margin-right: 69px;
}

.logo {
    display: block;
    margin-bottom: 8px;
}

.adress-block {
    margin-bottom: 9px;
}

.mail-block {
    display: block;
    margin-bottom: 9px;
}

.join-list {
    margin-right: 94px;
}

.social-net {
    display: flex;
}

.social-net .social-link {
    display: block;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.social-net .instagram {
    background-image: url(../images/instagram.png);
}

.social-net .twitter {
    background-image: url(../images/twitter.png);
}

.social-net .facebook {
    background-image: url(../images/facebook.png);
}

.social-net .linkedin {
    background-image: url(../images/linkedin.png);
}

.social-net .social-link:hover,
.social-net .social-link:focus {
    background-color: var(--accent-color);
}

.logo-footer {
    color: var(--white-textcolor);
}

.footer-contacts {
    line-height: 1.7;
}

.footer-contacts address {
    color: var(--white-textcolor);
}

.footer-contacts a {
    color:rgba(255, 255, 255, 0.6);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    color: var( --accent-color);
}



/* позже вставим email-input; button */
.footer p {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase; 
    color: var(--white-textcolor);
}

.page-authors {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 645px;
    margin-right: 645px;

    font-size: 12px;
    line-height: 2;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}

/* дополнительные стили для Портфолио*/
.examples {
    margin-top: 126px;
    margin-bottom: 94px;
}

.radio-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.radio-button a {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;

    background-color: var(--secondary-backgroundcolor); 
}

.radio-button .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio {
    width: 73px;
    height: 38px; 
}

.websites {
    width: 128px;
    height: 38px;
}

.applications {
    width: 145px;
    height: 38px;
}

.design {
    width: 103px;
    height: 38px;
}

.marketing {
    width: 130px;
    height: 38px;
}

.radio-button a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--main-textcolor);
}

.radio-button a:hover,
.radio-button a:focus {
    color: var(--white-textcolor);
    background-color: var(--accent-color);
}

/*многострочный flex-container*/

.examples-list {
    display: flex;
    flex-wrap: wrap;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.examples-list .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.examples-list .item:nth-child(3n) {
    margin-right: 0px;
}

.examples-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.examples-list h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples-list p {
    font-size: 16px;
    line-height: 1.9;
    color: var(--grey-textcolor);
}

.examples-list .popup-text {
    font-size: 18px;
    line-height: 1.6;
    color: var(--white-textcolor);
    /* background будет работать иначе при поключении интерактивности, ставлю, чтобы видно было p */
    background-color: var(--accent-color);
}